<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boooks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h3> List of People</h3>

<table class="centered">
    <tr>
        <th>Name</th>
        <th>Author</th>
    </tr>

    <tr th:each="book:${books}">
        <td th:text="${book.author}"/>
        <td th:text="${book.name}"/>
    </tr>

</table>
</body>
</html>